# Test with multi-source applicationsets

applicationsets:
  applicationset-multiple-sources:
    namespace: argo-cd
    generators:
    - list:
        elements:
          - cluster: default-cluster
            url: https://kubernetes.default.svc
    template:
      metadata:
        name: '{{cluster}}-guestbook'
      spec:
        project: default
        sources:
        - repoURL: https://github.com/Olak29/argocd-example-apps.git
          path: guestbook
          targetRevision: HEAD
        destination:
          server: '{{url}}'
          namespace: default
